button, input[type="text"] {
    padding: 5px;
}

button:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}
#bookmark-list-form {
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
#bookmark-list-results {
    padding: 0 8px;
}
.bookmark-element {
    padding: 8px 0;
    border: 1px solid black;
    margin-top: 4px;
    border-radius: 16px;
    display: block;
}
.bookmark-item{
    cursor: pointer;
    font-size: x-large;
}
.bookmark-item > * {
    text-align: right;
    margin-top: -1.15rem;
    margin-right: 1rem;
}
.bookmark-item-delete {
    margin-left: 73%;
    margin-top: -50px;
    margin-bottom: 0;
    border-radius: 10px;
}
.bookmark-button-url {
    padding: 4px 30px;
    border-radius: 10px;
}
.bookmark-rating {
    margin-left: 16rem;
    font-size: x-large;
    margin-top: -50px;
    margin-bottom: 30px;
}
.book-mark-entry {
    padding: 16px;
    border-radius: 20px;
    border: 1px solid black;
}